<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Less Than Full Time</title>
    <link href="/static/css/print.css" rel="stylesheet" />
  </head>
  <body>
    <main class="nhsuk-width-container nhsuk-u-margin-top-5">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
          <h1 class="nhsuk-fieldset__heading">LTFT Application Detail</h1>
        </legend>
      </fieldset>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Reference</dt>
              <dd class="nhsuk-summary-list__value" th:text="${var.formRef}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Status</dt>
              <dd class="nhsuk-summary-list__value" th:text="${var.status.current.state}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Created</dt>
              <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(var.created, 'dd MMMM yyyy HH:mm (z)', timezone)}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Modified</dt>
              <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(var.lastModified, 'dd MMMM yyyy HH:mm (z)', timezone)}">Not Given</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">Personal Details</h2>
          <dl class="nhsuk-summary-list" th:with="pd=${var.personalDetails}">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Name</dt>
              <dd class="nhsuk-summary-list__value" th:text="${pd.title + ' ' + pd.forenames + ' ' + pd.surname}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">E-Mail</dt>
              <dd class="nhsuk-summary-list__value" th:text="${pd.email}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Telephone</dt>
              <dd class="nhsuk-summary-list__value" th:text="${pd.telephoneNumber}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Mobile</dt>
              <dd class="nhsuk-summary-list__value" th:text="${pd.mobileNumber}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">GMC</dt>
              <dd class="nhsuk-summary-list__value" th:text="${pd.gmcNumber}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">GDC</dt>
              <dd class="nhsuk-summary-list__value" th:text="${pd.gdcNumber}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Holds a Skilled Worker visa</dt>
              <dd class="nhsuk-summary-list__value" th:text="${pd.skilledWorkerVisaHolder}">Not Given</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">Programme Details</h2>
          <dl class="nhsuk-summary-list" th:with="programme=${var.programmeMembership}">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Programme Name</dt>
              <dd class="nhsuk-summary-list__value" th:text="${programme.name}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Start Date</dt>
              <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(programme.startDate, 'dd MMMM yyyy')}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">End Date</dt>
              <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(programme.endDate, 'dd MMMM yyyy')}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">WTE (Current)</dt>
              <dd class="nhsuk-summary-list__value" th:text="${programme.wte}">Not Given</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">Proposed Changes</h2>
          <dl class="nhsuk-summary-list" th:with="change=${var.change}">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">WTE</dt>
              <dd class="nhsuk-summary-list__value" th:text="${change.wte}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Start Date</dt>
              <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(change.startDate, 'dd MMMM yyyy')}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">End Date</dt>
              <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(change.endDate, 'dd MMMM yyyy')}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Programme end date</dt>
              <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(change.cctDate, 'dd MMMM yyyy')}">Not Given</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">Reasons</h2>
          <dl class="nhsuk-summary-list" th:with="reasons=${var.reasons}">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Selected</dt>
              <dd class="nhsuk-summary-list__value" th:text="${#strings.listJoin(reasons.selected, '<br>')}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Other Reason</dt>
              <dd class="nhsuk-summary-list__value" th:text="${reasons.otherDetail}">Not Given</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">Discussions</h2>
          <dl class="nhsuk-summary-list" th:with="discussions=${var.discussions}">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">TPD name</dt>
              <dd class="nhsuk-summary-list__value" th:text="${discussions.tpdName}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">TPD email</dt>
              <dd class="nhsuk-summary-list__value" th:text="${discussions.tpdEmail}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Other</dt>
              <dd class="nhsuk-summary-list__value">
                <th:block th:each="person,iter: ${discussions.other}">
                  <th:block th:text="|${person.name}, ${person.email} (${person.role})|"/><th:block th:if="${!iter.last}"><br></th:block>
                </th:block>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">Declarations</h2>
          <dl class="nhsuk-summary-list" th:with="declarations=${var.declarations}">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Information is correct</dt>
              <dd class="nhsuk-summary-list__value" th:text="${declarations.discussedWithTpd}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Discussed with TPD</dt>
              <dd class="nhsuk-summary-list__value" th:text="${declarations.informationIsCorrect}">Not Given</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Not guaranteed</dt>
              <dd class="nhsuk-summary-list__value" th:text="${declarations.notGuaranteed}">Not Given</dd>
            </div>
          </dl>
        </div>
      </div>
    </main>
  </body>
</html>
