<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Less Than Full Time</title>
    <link href="/static/css/print.css" rel="stylesheet" />
  </head>
  <body>
    <main class="nhsuk-width-container nhsuk-u-margin-top-5">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
          <h1 class="nhsuk-fieldset__heading">Less Than Full Time (LTFT)</h1>
        </legend>
      </fieldset>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <dl class="nhsuk-summary-list">
            <h3 class="nhsuk-card__heading" th:text="${var.status?.current?.state} ? |${var.status?.current?.state} Application|: _"></h3>
            <th:block th:if="!(${#strings.toString(var.status?.current?.state)} == 'DRAFT')">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Name</dt>
                <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(var.name)} ? ${var.name} : _">Not provided</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Created date</dt>
                <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(var.created, 'dd MMMM yyyy HH:mm (z)', timezone)} ?: _">Not provided</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" th:text="${not #strings.isEmpty(var.status?.current?.state)} ? |${var.status?.current?.state} date| : _">Modified date</dt>
                <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(var.lastModified, 'dd MMMM yyyy HH:mm (z)', timezone)} ?: _">Not provided</dd>
              </div>
              <th:block th:if="${#strings.toString(var.status?.current?.state)} == 'UNSUBMITTED' or ${#strings.toString(var.status?.current?.state)} == 'WITHDRAWN' or ${#strings.toString(var.status?.current?.state)} == 'REJECTED'">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" th:text="${not #strings.isEmpty(var.status?.current?.state)} ? |${var.status?.current?.state} by| : _">Modified by</dt>
                  <dd class="nhsuk-summary-list__value" th:text="${#strings.toString(var.status?.current?.modifiedBy?.role)} == 'TRAINEE' ? 'Me' : 'TIS Admin'"></dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Reason</dt>
                  <dd class="nhsuk-summary-list__value" th:switch="${var.status?.current?.detail.reason}">
                    <span th:case="'other'">other reason</span>
                    <span th:case="'changePercentage'">Change WTE percentage</span>
                    <span th:case="'changeStartDate'">Change start date</span>
                    <span th:case="'changeOfCircs'">Change of circumstances</span>
                    <span th:case="*"><span th:text="${not #strings.isEmpty(var.status?.current?.detail.reason)} ? ${var.status?.current?.detail.reason} : _">Not provided</span></span>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Message</dt>
                  <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(var.status?.current?.detail.message)} ? ${var.status?.current?.detail.message} : _">Not provided</dd>
                </div>
              </th:block>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Reference</dt>
                <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(var.formRef)} ? ${var.formRef} : _">Not provided</dd>
              </div>
            </th:block>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature">Your Programme</h2><br/>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Which programme will your proposed change in working hours affect?</dt>
            <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(var.programmeMembership?.name)} ? ${var.programmeMembership?.name} : _">Not provided</dd>
          </div>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature">Working hours before change</h2><br/>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">What percentage of your full time hours do you work before your proposed change?</dt>
            <dd class="nhsuk-summary-list__value" th:text="${var.programmeMembership.wte != null} ? ${#numbers.formatDecimal(var.programmeMembership.wte * 100, 1, 0)} : 'Not provided'"></dd>
          </div>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature">Proposed change to your working hours</h2><br/>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">What percentage of your full time hours do you want to work?</dt>
            <dd class="nhsuk-summary-list__value" th:text="${var.change?.wte != null} ? ${#numbers.formatDecimal(var.change?.wte * 100, 1, 0)} : 'Not provided'"></dd>
          </div>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature">Start date</h2><br/>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">When should this change to your working hours begin?</dt>
            <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(var.change?.startDate, 'dd MMMM yyyy')} ?: _">Not provided</dd>
          </div>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature">Pre-approver discussions</h2><br/>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Pre-approver name</dt>
            <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(var.discussions?.tpdName)} ? ${var.discussions?.tpdName} : _">Not provided</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Pre-approver email address</dt>
            <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(var.discussions?.tpdEmail)} ? ${var.discussions?.tpdEmail} : _">Not provided</dd>
          </div>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature">Other discussions</h2><br/>
          <h3 class="nhsuk-card__heading">If you have discussed your proposals with anyone else then please add them here</h3>
          <th:block th:if="!${var.discussions?.other}">Not provided</th:block>
          <th:block th:each="person,iter: ${var.discussions?.other}">
            <h3 class="nhsuk-card__heading nhsuk-card__heading--feature" th:text="|${iter.count}|"></h3><br/>
            <div class="nhsuk-summary-list__row">
              <span class="nhsuk-summary-list__value">Name: <th:block th:text="|${person.name}|">Not provided</th:block></span>
            </div>
            <div class="nhsuk-summary-list__row">
              <span class="nhsuk-summary-list__value">Email: <th:block th:text="|${person.email}|">Not provided</th:block></span>
            </div>
            <div class="nhsuk-summary-list__row">
              <span class="nhsuk-summary-list__value">Role: <th:block th:text="|${person.role}|">Not provided</th:block></span>
            </div>
            <br th:if="${!iter.last}">
          </th:block>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature">Reason(s) for applying</h2><br/>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Why are you applying?</dt>
            <dd class="nhsuk-summary-list__value">
              <th:block th:if="!${var.reasons?.selected}">Not provided</th:block>
              <th:block th:each="reason,iter: ${var.reasons?.selected}">
                <span th:text="${reason}"></span><span th:if="${!iter.last}">, </span>
              </th:block>

            </dd>
          </div>
          <div class="nhsuk-summary-list__row" th:if="${not #strings.isEmpty(var.reasons?.otherDetail)}">
            <dt class="nhsuk-summary-list__key">Other reason</dt>
            <dd class="nhsuk-summary-list__value" th:text="|${var.reasons?.otherDetail}|">Not provided</dd>
          </div>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature">Supporting information</h2><br/>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Please provide brief supporting information for your application.</dt>
            <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(var.reasons?.supportingInformation)} ? ${var.reasons?.supportingInformation} : _">Not provided</dd>
          </div>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature">Tier 2 / Skilled Worker status</h2><br/>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Are you a Tier 2 / Skilled Worker Visa holder?</dt>
            <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(var.personalDetails?.skilledWorkerVisaHolder)} ? ${var.personalDetails?.skilledWorkerVisaHolder} : _">Not provided</dd>
          </div>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature">Personal Details</h2><br/>
          <dl class="nhsuk-summary-list" th:with="pd=${var.personalDetails}">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Forename</dt>
              <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(pd?.forenames)} ? ${pd?.forenames} : _">Not provided</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Surname (GMC-Registered)</dt>
              <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(pd?.surname)} ? ${pd?.surname} : _">Not provided</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Contact Telephone</dt>
              <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(pd?.telephoneNumber)} ? ${pd?.telephoneNumber} : _">Not provided</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Contact Mobile</dt>
              <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(pd?.mobileNumber)} ? ${pd?.mobileNumber} : _">Not provided</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Email Address</dt>
              <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(pd?.email)} ? ${pd?.email} : _">Not provided</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">GMC Number</dt>
              <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(pd?.gmcNumber)} ? ${pd?.gmcNumber} : _">Not provided</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">GDC Number (if applicable)</dt>
              <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(pd?.gdcNumber)} ? ${pd?.gdcNumber} : _">Not provided</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Public Health Number (if applicable)</dt>
              <dd class="nhsuk-summary-list__value">Not provided</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature" th:text="${'Change to your completion date for ' + (var.programmeMembership?.name != null ? var.programmeMembership?.name : 'Not provided')}"></h2><br/>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Programme</dt>
            <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(var.programmeMembership?.name)} ? ${var.programmeMembership?.name} : _">Not provided</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Working hours percentage change</dt>
            <dd class="nhsuk-summary-list__value" th:text="${(var.programmeMembership?.wte != null ? #numbers.formatDecimal(var.programmeMembership.wte * 100, 1, 0) + '%' : 'Not provided') + ' -> ' + (var.change?.wte != null ? #numbers.formatDecimal(var.change?.wte * 100, 1, 0) + '%' : 'Not provided')}"></dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Start date</dt>
            <dd class="nhsuk-summary-list__value">
              <span th:text="${var.change?.startDate != null ? #temporals.format(var.change.startDate, 'dd MMMM yyyy') : 'Not provided'}"></span>
              <span th:if="${var.shortNotice}">
                <br/>
                <div><strong>Warning:</strong> Giving less than 16 weeks notice to change your working hours is classed as a late application and will only be considered on an exceptional basis.</div>
              </span>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Current completion date</dt>
            <dd class="nhsuk-summary-list__value" th:text="${(var.programmeMembership?.endDate != null ? #temporals.format(var.programmeMembership.endDate, 'dd MMMM yyyy') : 'Not provided') + ' (Programme end date on TIS)'}">
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Estimated completion date after these changes</dt>
            <dd class="nhsuk-summary-list__value" th:text="${#temporals.format(var.change?.cctDate, 'dd MMMM yyyy')} ?: _">Not provided</dd>
          </div>
          <div><strong>Please note:</strong> This new completion date is an estimate as it does not take into account your full circumstances (e.g. Out of Programme, Parental Leave). Your formal completion date will be agreed at ARCP.</div>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">Declarations</h2>
          <dl class="nhsuk-summary-list" th:with="declarations=${var.declarations}">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">I confirm that the information I have provided is correct and accurate to the best of my knowledge.</dt>
              <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(declarations?.informationIsCorrect)} ? ${declarations?.informationIsCorrect} : _">Not provided</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">I understand that approval of my application is not guaranteed.</dt>
              <dd class="nhsuk-summary-list__value" th:text="${not #strings.isEmpty(declarations?.notGuaranteed)} ? ${declarations?.notGuaranteed} : _">Not provided</dd>
            </div>
          </dl>
        </div>
      </div>
    </main>
  </body>
</html>
