application:
  environment: ${ENVIRONMENT:local}
  file-store:
    always-store: ${APPLICATION_FILESTORE_ALWAYSSTORE:false}
    bucket: ${APPLICATION_FILESTORE_BUCKET:}
  aws:
    sns:
      pdf-generated: ${PDF_GENERATED_TOPIC:}
      ltft-assignment-updated: ${LTFT_ASSIGNMENT_UPDATE_TOPIC:}
      ltft-refresh: ${LTFT_REFRESH_TOPIC:}
      ltft-status-updated: ${LTFT_STATUS_UPDATE_TOPIC:}
    sqs:
      coj-received: ${COJ_RECEIVED_QUEUE:}
      delete-event: ${DELETE_EVENT_QUEUE:}
      notification-event: ${NOTIFICATION_EVENT_QUEUE:}
      profile-move: ${PROFILE_MOVE_QUEUE:}
  schedules:
    publish-all-ltfts: "@monthly"
  signature:
    secret-key: ${SIGNATURE_SECRET_KEY}
  timezone: Europe/London

features:
  formr-partb:
    covid-declaration: ${FEATURE_FORMR_PARTB_COVID_DECLARATION:false}

logging:
  level:
    root: INFO
    com.openhtmltopdf.cssparse: ERROR
    org.springframework.data: INFO
    uk.nhs.hee.tis.trainee.forms: INFO

mongock:
  migration-scan-package: uk.nhs.hee.tis.trainee.forms.migration

sentry:
  dsn: ${SENTRY_DSN:}
  environment: ${application.environment}

server:
  port: 8207
  servlet:
    context-path: /forms

spring:
  data:
    mongodb:
      uri: mongodb://${DB_USER:admin}:${DB_PASSWORD:pwd}@${DB_HOST:localhost}:${DB_PORT:27017}/${DB_NAME:forms}?authSource=admin&retryWrites=false
      auto-index-creation: true
      uuid-representation: standard

com:
  amazonaws:
    xray:
      emitters:
        daemon-address: ${AWS_XRAY_DAEMON_ADDRESS:}
      strategy:
        tracing-name: ${AWS_XRAY_TRACING_NAME:tis-trainee-forms-${application.environment}}
