/* Overrides for nhsuk 9.3.0 styles due to non-functional min-width media query */
@media print {
  .nhsuk-summary-list {
		display: table;
		table-layout: fixed;
		width: 100%
		margin-bottom: 40px;
  }

  .nhsuk-summary-list__row {
    display: table-row;
  }

  .nhsuk-summary-list__key,
  .nhsuk-summary-list__value {
		border-bottom: 1px solid #d8dde0;
		display: table-cell;
		padding-bottom: 8px;
		padding-right: 24px;
		padding-top: 8px;
  }

  nhsuk-summary-list__key {
    width: 30%;
  }

  .nhsuk-summary-list__value {
    width: 50%;
  }
}

.info-message-container {
  padding: 1rem;
  border: 2px solid #0072CE;
  background-color: #b1d9fa;
  border-radius: 4px;
}

.info-message {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.info-message-icon {
  display:inline-block;
  width:20px;
  height:20px;
  border-radius:50%;
  background:#0072CE;
  color:white;
  text-align:center;
  line-height:20px;
  font-weight:bold;
  font-family:Arial;
}
