@import "nhsuk-9.3.0.min.css";
@import "nhsuk-9.3.0.override.css";

@media print {
  body, html {
    background-color: white;
  }

  .nhsuk-card, .nhsuk-summary-list {
    page-break-inside: avoid;
  }

  main > .nhsuk-card:last-child {
    margin-bottom: 0;
  }

  .nhsuk-summary-list > .nhsuk-summary-list__row:last-child > .nhsuk-summary-list__key,
  .nhsuk-summary-list > .nhsuk-summary-list__row:last-child > .nhsuk-summary-list__value {
      border-bottom: 0;
    }
  }
}

@page {
  size: a4 portrait;
}
